*{
  margin: 0px;
  padding: 0px;
}

#topbar{
  background-color: #0d47a1;
  height: 50px;
  overflow: hidden;
  padding: auto;
  width: 100%;
  
  
}

#topbarh1{
  color: whitesmoke;
  line-height: 20px;
}

#footer{
  background: black;
  clear: both;
  position: absolute;
  width: 100%;
  
}

#copy{
  color: white;
  padding-top: 40px;
  text-align: center;
}

.news-body{
  height: auto;
}

.intro{
  background-color: white;
  border-color:rgba(173,216,230, 0.5);
  border-style: solid;
  color: #0d47a1;
  margin: auto;
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
  width: 50%;
  }

#sourceblock{
  border-bottom: 1px solid lightblue;
  display: inline-block;
  margin: 0px 15px 20px 150px;
  text-align: center;
  width: 70%;
  }

.sourceNames{
  display: inline-block;
  width: 60%;
}

.sortByClass{
  display: inline-block !important;
  width: 30%;
}
.buttonnormal{
    background-color: #0d47a1;
    border-radius: 3px;
    border: 0px;
    color: white;
    font-size: 14px;
    list-style: none;
    padding: 2px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    }

.buttonnormal a{
  color: white;
  text-decoration: none;
}

.buttonnormal a:hover {
    background-color: #4CAF50; 
    color: white;
}

.thumbnail img {
  max-height: 147px;
}

.sort-by{
  display: inline-block;
  overflow: auto;
  li{
    display: inline;
    a{
      background: red;
      border-radius: 3px;
      color: white;
      padding: 10px;
      padding-top: 10px;
      
    }
  }
}


#sortbytext{
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-list-group{
  list-style-type: none;
}

#selectnews{
  color: #0d47a1;
  text-align: center;
}

.signout{
  position: absolute;
}

#threeish{
  display: inline-block;
}

.same-height:nth-child(4n+6){
  clear: both;
}

.highlight{
  color: #0d47a1;
  font-size: 24px;
  text-align: center;
}

#arthead{
  margin-bottom: 40px;
  margin-top: 40px;
}

.navbar-inverse{
  background-color: #0d47a1;
}

.searchSource{
  margin: 0 auto;
  width: 80%;
}

.news-btn {
  margin: 0rem 1rem 0 0;
}

.col-btn {
  padding-top: 2rem; 
}

.sources {
  left: 10%;
  margin-top: 2.5rem;
  position: relative;
}