$black: #000000;
$green: #4caf50;
$lightblue: #add8e6;
$primary-color: #0d47a1;
$red: #ff0000;
$whitesmoke: #f5f5f5;
$white: #ffffff;


* {
  margin: 0;
  padding: 0;
}


.copy {
  color: $white;
  padding-top: 40px;
  text-align: center;
}

.news-body {
  height: auto;
}

.intro {
  background-color: $white;
  border-color: $lightblue;
  border-style: solid;
  color: $primary-color;
  margin: auto;
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
  width: 50%;
  }

.sourceblock {
  border-bottom: 1px solid $lightblue;
  display: inline-block;
  margin: 0 15px 20px 150px;
  text-align: center;
  width: 70%;
  }

.source-names {
  display: inline-block;
  width: 60%;
}

.sort-by-class {
  display: inline-block !important;
  width: 30%;
}

.buttonnormal {
  background-color: $primary-color;
  border-radius: 3px;
  border: 0;
  color: $white;
  font-size: 14px;
  list-style: none;
  padding: 2px;
  transition-duration: 0.4s;
  }

.thumbnail img {
  max-height: 147px;
}

.sort-by {
  display: inline-block;
  overflow: auto;
  
  li {
    display: inline;

    a {
      background: $red;
      border-radius: 3px;
      color: $white;
      padding: 10px;
      padding-top: 10px;
      
    }
  }
}


.sortbytext {
  color: $white;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-list-group {
  list-style-type: none;
}

.selectnews {
  color: $primary-color;
  text-align: center;
}

.signout {
  position: absolute;
}

.same-height:nth-child(4n+6) {
  clear: both;
}

.highlight {
  color: $primary-color;
  font-size: 24px;
  text-align: center;
}

.arthead {
  margin-bottom: 40px;
  margin-top: 40px;
}

.navbar-inverse {
  background-color: $primary-color;
}

.search-source {
  margin: 0 auto;
  width: 80%;
}

.news-btn {
  margin: 0 1rem 0 0;
}

.col-btn {
  padding-top: 2rem; 
}

.sources {
  left: 10%;
  margin-top: 2.5rem;
  position: relative;
}

.username {
  color: $white;
  margin: 8px 20px;
  text-align: center;
}
